


.container {
  margin-top: 20px;
}

.add-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-form h2 {
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #8e44ad;
  box-shadow: 0 0 0 0.2rem rgba(142, 68, 173, 0.25);
}

textarea.form-control {
  resize: vertical;
}

.btn-purple {
  background-color: #8e44ad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-purple:hover {
  background-color: #6c3483;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.25em;
}


#imageUpload {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.custom-file-upload:active {
  background-color: #ccc;
}

.custom-file-upload label {
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}


.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}


.bi-upload {
  margin-right: 10px;
}



  